
@font-face {
    font-family: "Norwester";
    src: local("NorwesterBold"),
     url("./fonts/norwester.ttf") format("truetype");
    font-weight: bold;
    }

h4 {
    font-size: 4em;
    margin-top: 30px;
    font-weight: 700!important;
    letter-spacing: 0.005em;
    line-height: 1.2;
    font-family: 'Norwester', sans-serif !important; 
}

h5 {
    font-size: 2.5em;
    margin-top: 30px;
    font-weight: 400!important;
    letter-spacing: 0.005em;
    line-height: 1.2;
    font-family: 'Norwester', sans-serif !important;    
}

h6 {
    font-family: 'Norwester', sans-serif !important;   
    font-style: normal;
    font-size: 20px;
    line-height: 40px;
    font-weight: 600!important;
    letter-spacing: 0.005em;
    line-height: 1.2;
    color: #fff;
    text-align: left;
    margin-top: 6px;
}

p {
    font-family: 'Quicksand', sans-serif !important;
    font-size: 1em;
    line-height: 36px;
    color: #000;
    font-weight: 600;
}

hr {
    margin-left: 0;
    width: 68%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #00A993;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-bar {
position: absolute;
width: 100%;
height: 120px;
left: 0px;
top: 0px;
background: #222222;
box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.nav-bar-logo {
position: absolute;
width: auto;
height: 105px;
left: 5%;
vertical-align: middle;
top: 50%;
transform: translateY(-50%);
}

#navigation-items {
    top: 60%;
    transform: translateY(-50%);
    position: relative;
    right:5%;
    float: right;
}
/* Navbar */
#navigation-items a {
    /* float: right; */
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    line-height: 29px;
    /* display: flex; */
    align-items: center;
    text-transform: uppercase;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

.btn-nav {
    color: #fafafa;
    background-color: #00A993;
    border: 2px solid #00A993;
    font-weight: bold;
    font-size: 0.8em;
    font-family: 'Quicksand', sans-serif;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    border-radius: 0.8rem;
    margin-left: 10px;
}

.btn-white {
    color: #00A993;
    background-color: #fafafa;
    border: 1px solid #00A993;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    padding: 1rem 1rem;
    line-height: 1.5;
    border-radius: 0.8rem;
    margin-left: 10px;
}

.btn-green-shade {
    
    background: linear-gradient(90deg, #26627E -4.91%, #00B198 100%);
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent; */
    color: #fff;
    border: 1px solid #26627E;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    padding: 1rem 1rem;
    line-height: 1.5;
    border-radius: 0.8rem;
    margin-left: 10px;
}

#navigation-social {
    top: 7%;
    right: 65px;
    position: absolute;
    
}

.social-nav {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin: 5px;
}

@media only screen and (max-width: 1022px)
{
    #navigation-social {
        display: none !important;
    }

    #navigation-items {
        display: none !important;
    }
}

#scroll {
    font-size: 12px;
    line-height: 12px;
    display: flex;
    justify-content: space-around;
    color: #00A993;
    }

.hero-section {
    background-color: #222222;
}

.hero-section p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
}

.welcome-section {
    background-color: #fff;
}

.welcome-row #column {
    /* filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.50)); */
    box-shadow: rgb(0 0 0 / 25%) 2px 2px 2px 2px;
    padding: 30px;
    border-radius: 8px;
    /* margin: 30px; */
}

#column {
    background-color: #00A993;
}

#column:hover {
    background: linear-gradient(180deg, #26627E -4.91%, #00B198 100%);
    border-radius: 10px;
    transform: scale(1.05);
    transition-duration: 500ms;
}

#column img {
    display: none;
    visibility: hidden;
}

#column:hover img {
    
    display: inline !important;
    visibility: visible;
}

#column:hover p {
    transform: scale(1.2);
    transition-duration: 500ms;
}


#column:hover span
{
    transform: scale(1.3);
    transition-duration: 500ms;
}

#column p {
    top: 40%;
    position: absolute;
    left: 40%;
    font-family: 'Norwester', sans-serif !important;   
    color: #f2f2f2;
}

#column span {
    font-size: 90px;
    font-family: 'Norwester', sans-serif !important;   
    background: linear-gradient(0deg, rgba(36, 129, 138, 0.3) -120012.56%, rgba(38, 98, 126, 0.3) -113369%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: inline-block;
}

.approach-section {
    background-color: #222222;
}

.approach-section p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
}

.approach-section-2 {
    background-color: #fff;
}

.approach-section-2 p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    color: #26627E;
    margin: 0px 150px 0px;
}

.how-section {
    background-color: #fff;
}

.IsItAThing-section h5,
.job-section h5 {
    background: linear-gradient(90deg, #26627E -4.91%, #00B198 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.how-section p, 
.IsItAThing-section p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    color: rgb(47, 46, 46);
    font-weight: 400;
}

.how-section-2 {
    background-color: #fff;
}

.how-section-2 p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    color: #26627E;
    margin: 0px 150px 0px;
    background: linear-gradient(90deg, #26627E -4.91%, #00B198 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.what-section {
    background: #003F49;
}

.what-section p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    color: #fff;
    text-align: left;
    font-weight: 400;
}

.what-section .row {
    margin-bottom: 30px;
}

.line {
    border-bottom: 2px solid #00A993; 
    padding-bottom: 15px; 
    position: relative;
}

.line:before {
    position: absolute; 
    bottom: -6px; 
    left: 0; 
    height: 10px; 
    width: 10px; 
    background: #00A993; 
    content: ""; 
    border-radius: 5px;
}

.line:after {
    right: 0; 
    left: auto;
}

.IsItAThing-section {
    background-color: #fff;
}

#isit-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
    font-weight:600 ;
    color: #26627E;
    margin: 0px 100px 0px;
    background: linear-gradient(90deg, #26627E -4.91%, #00B198 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#isitathing-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
    font-weight:600 ;
    color: #26627E;
    margin: 0px 100px 0px;
    background: linear-gradient(90deg, #26627E -4.91%, #00B198 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 20px;
}

.team-section {
    background-color: #222222;
}

#team-section-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
    font-weight:600 ;
    color: #26627E;
    margin: 0px 100px 0px;
    background: linear-gradient(90deg, #26627E -4.91%, #00B198 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 20px;
    text-transform: uppercase;
}

#team-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #00A993;
}

.job-section {
    background-color: #fafafa;
}

#job-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
    font-weight:600 ;
    color: #26627E;
    margin: 0px 100px 0px;
    background: linear-gradient(90deg, #26627E -4.91%, #00B198 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.job-text a {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    color: #26627E;
    margin: 0px 0px 0px;
    background: linear-gradient(90deg, #26627E -4.91%, #00B198 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 25px;
}

.contact-section {
    background: #003F49;
}

.contact-section p {
    font-weight: 400;
}

#contact-section-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
    font-weight:600 ;
    color: rgb(0, 169, 147);
    margin: 0px 100px 0px;
    background: linear-gradient(90deg, #00a993 -4.91%, #00B198 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 20px;
    text-transform: uppercase;
    margin-left: 0px;
}

#circle-image {
    position: absolute;
    bottom: -20px;
    
}

.footer-section {
    background-color: #222222;
}

#approach-col{
 padding-bottom: 5% !important;
 padding-top: 5% !important;
}

.approach-section-2 h5 {
        font-size: 2.5em;
        margin-top: 15px;
        font-weight: 400!important;
        letter-spacing: 0.005em;
        line-height: 1.2;
        font-family: 'Norwester', sans-serif !important;    
}

.how-section-2 h5 {
        font-size: 2.5em;
        margin-top: 15px;
        font-weight: 400!important;
        letter-spacing: 0.005em;
        line-height: 1.2;
        font-family: 'Norwester', sans-serif !important;    
}